@charset "utf-8";
/* CSS Document */

body{
	background:#838383;
}

*{font-family: caraque-solid, sans-serif;
font-weight: 400;
font-style: normal;
font-size:20px
}

.headerbox{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows:120px;
	grid-gap:200px;
	padding:10px;
	padding-right:200px;
	background:#000000;
	color:antiquewhite;
	
	
}

.container{
	display:inline-grid;
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
	grid-template-rows: 300px 300px 300px 300px 300px;
	grid-gap:30px;
	color:antiquewhite;
	
		
	
}

.logo{
	justify-self: center;
	align-self:center;
}

.link1{
	justify-self: center;
	align-self:center;
}

.link2{
	justify-self: center;
	align-self:center;
}

.item{
	justify-items: center;
	align-items: center;
}

.item2{
	border:solid;
	border-width: px;
	border-color:#000000;
	
	
	
	
	
	
}


.item-undergroundicecream {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
  		justify-self: center;
  		align-self: start;
		
	}

.item-neonsign {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
		Margin:5px;
  		justify-self:center;
  		align-self:end;
		

	}

h2{
	font-size:40px;
	
	
	
	
}

.item-tekst1 {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
		justify-self:center;
		align-self:center;
		padding-left:10px;
		padding-right: 10px;
		width:800px;
		Height:200px;
		Background:black;
	}

.item-picture1 {
		grid-column-start: 4;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
		justify-self:center;
		align-self: center;
	}

.item-tekst2 {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 3;
		justify-self:center;
		align-self:center;
		padding-left:10px;
		padding-right: 10px;
		width:800px;
		Height:200px;
		Background:black;
}
	
.item-picture2 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;
		justify-self:center;
		align-self: center;
	}	
	
.item-tekst3 {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 4;
		justify-self:center;
		align-self:center;
		padding-left:10px;
		padding-right: 10px;
		width:800px;
		Height:200px;
		Background:black;
}

.item-picture3 {
		grid-column-start: 4;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 4;
		justify-self:center;
		align-self: center;
	
}
	
.item-tekst4 {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 5;
		grid-row-end: 5;
		justify-self:center;
		align-self:center;
		padding-left:10px;
		padding-right: 10px;
		width:800px;
		Height:200px;
		Background:black;
	
}
	
.item-picture4 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 5;
		grid-row-end: 5;
		justify-self:center;
		align-self: center;
	
}

@media only screen and (max-width: 600px){
	.item {
		display:none;
	}
	.item2{
		display:none;
	}
	.footer{
		display:none;
	}
	.arrowup{
		display:none;
	}
	.headerbox{
	display:grid;
	grid-template-columns:1fr;
	grid-gap:10px;
	padding:10px;
	padding-right:100xp;
	padding-left:10px;
	background:#000000;
	color:antiquewhite;
	justify-self:center;
	align-self:center;
	}	
	
}






