@charset "utf-8";
/* CSS Document */

body{
	background:#838383;
}

.container{
	display:inline-grid;
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
	grid-template-rows: 300px 300px 300px;
	grid-gap:30px;
	color:antiquewhite;
	border-style:solid;
	border-color: red;
	border-width: 5px;
	
}

.item{
	border-style:solid;
	
	
}


	.item-undergroundicecream {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
  		justify-self: center;
  		align-self: start;
		
	}

	.item-neonsign {
		grid-column-start: 3;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
		Margin:5px;
  		justify-self:center;
  		align-self:end;
		

	}

h2{
	
	
	
}

	.item-tekst1 {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
		justify-self:center;
		align-self:center;
		padding-left:10px;
		padding-right: 10px;
		width:800px;
		Height:200px;
		Background:black;
	}

	.item-picture1 {
		grid-column-start: 4;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
		justify-self:center;
		align-self: center;
	}

	.item-tekst2 {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 3;
		justify-self:center;
		align-self:center;
		padding-left:10px;
		padding-right: 10px;
		width:800px;
		Height:200px;
		Background:black;
}
	
	.item-picture2 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;
		justify-self:center;
		align-self: center;
	}	
	
	
	
	
	